button.button-next {
    display: flex;
    font-size: 0.8rem;
    border-radius: 4px;
    padding: 10px;
    background: var(--Blue-950);
    color: var(--White-0);
}
button.button-next:hover {
    background: var(--Grey-500);
    color: var(--Blue-950);
}