* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}
:root {
    --Blue-50: hsl(231, 100%, 99%);
    --Blue-100: hsl(218, 100%, 97%);
    --Blue-200: hsl(206, 94%, 87%);
    --Blue-300: hsl(228, 100%, 84%);
    --Blue-950: hsl(213, 96%, 18%);
    --Grey-500: hsl(231, 11%, 63%);
    --Purple-200: hsl(229, 24%, 87%);
    --Purple-600: hsl(243, 100%, 62%);
    --Red-500: hsl(354, 84%, 57%);
    --White-0: hsl(0, 100%, 100%);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 23.43rem;
    height: 40rem;
}
.desktopHeader {
        display: none ;
    }
.base {
    width: 23.43rem;
    height: 23.43rem;
    background: var(--Blue-50);
    position: relative;
}
.btn-transition {
    display: flex;
    justify-content: flex-end;
    padding: 20px 6%;
}

@media(min-width:376px) {
    .container {
        display: flex;
        border: 1px solid gray;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        width: 60rem;
        height: 38rem;
        background: orange;
    }
    .mobileHeader {
        display: none;
    }
    .desktopHeader {
        display: flex ;
        justify-content: space-between;
        position: relative;
    }
    ul.button {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 10px;
    }
    .button li {
        margin-bottom: 20px;
    }
    /* .button button{
        display: flex;
        color: var(--White-0);
        background: transparent;
        border: none;
    } */

}